<div class="form-preview">
    <div class="form-preview-header">
      <h1 class="form-title">{{ formTitle }}</h1>
      <h3 class="form-subtitle">{{ formDescription }}</h3>
    </div>
  
    <form [formGroup]="formGroup" (ngSubmit)="submitForm()">
      <div class="form-canvas">
        <ng-container *ngFor="let field of formElements">
          <ng-container [ngSwitch]="field.type">
            <!-- Header -->
            <h1 *ngSwitchCase="'heading'" class="form-header">{{ field.outLabel }}</h1>

            <h2 *ngIf="field.type !== 'heading'" class="form-header">{{ field.outLabel }}</h2>
            <!-- Text -->
            <mat-form-field *ngSwitchCase="'text'" appearance="fill" class="input-field form-field">
              <input matInput [formControlName]="field.id || ''" [placeholder]="field.placeholder || ''" />
            </mat-form-field>
  
            <!-- Email -->
            <mat-form-field *ngSwitchCase="'email'" appearance="fill" class="input-field form-field">
              <input matInput type="email" [formControlName]="field.id || ''" [placeholder]="field.placeholder || ''" />
            </mat-form-field>
  
            <!-- Number -->
            <mat-form-field *ngSwitchCase="'number'" appearance="fill" class="input-field form-field">
              <input matInput type="number" [formControlName]="field.id || ''" [placeholder]="field.placeholder || ''" />
            </mat-form-field>
  
            <!-- Textarea -->
            <mat-form-field *ngSwitchCase="'textarea'" appearance="fill" class="input-field form-field">
              <textarea matInput [formControlName]="field.id || ''" [placeholder]="field.placeholder || ''"></textarea>
            </mat-form-field>
  
            <!-- Dropdown -->
            <mat-form-field *ngSwitchCase="'dropdown'" appearance="fill" class="input-field form-field">
              <mat-select [formControlName]="field.id || ''">
                <mat-option *ngFor="let option of field.options" [value]="option">{{ option }}</mat-option>
              </mat-select>
            </mat-form-field>
  
            <!-- Radio -->
            <div *ngSwitchCase="'radio'" class="radio-group form-field">
              <mat-radio-group [formControlName]="field.id || ''">
                <mat-radio-button *ngFor="let option of field.options" [value]="option">
                  {{ option }}
                </mat-radio-button>
              </mat-radio-group>
            </div>
  
            <!-- Checkbox -->
            <div *ngSwitchCase="'checkbox'" class="checkbox-group form-field" [formArrayName]="field.id || ''">
              <div *ngFor="let option of field.options; let i = index">
                <mat-checkbox [formControlName]="i">
                  {{ option }}
                </mat-checkbox>
              </div>
            </div>

            <!-- Date -->
            <mat-form-field *ngSwitchCase="'date'" appearance="fill" class="input-field form-field">
              <input matInput [matDatepicker]="picker" [formControlName]="field.id || ''" [placeholder]="field.placeholder || ''" />
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <!-- File Upload -->
            <div *ngSwitchCase="'file'" class="input-field form-field">
              <label for="fileUpload-{{ field.id }}">{{ field.placeholder }}</label>
              <input id="fileUpload-{{ field.id }}" type="file" (change)="onFileSelected($event, field.id || '')" />
            </div>
            
            <!-- Signature -->
            <mat-card *ngSwitchCase="'signature'" class="form-field">
              <signature-pad [options]="signaturePadOptions"></signature-pad>

              <div class="actions">
                  <button mat-raised-button color="warn" type="button" (click)="clearSignature()">Clear</button>
              </div>
            </mat-card>

          </ng-container>
        </ng-container>
      </div>
  
      <div class="form-buttons">
        <button mat-flat-button color="primary" type="submit">Submit</button>
      </div>
    </form>
  </div>