.thank-you-container {
  max-width: 600px;
  margin: 20% auto;
  padding: 20px;
  background-color: #90bff1;
  /* border: 1px solid #e0e0e0; */
  border-radius: 8px;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  text-align: center;
}

.thank-you-container h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #1c8020;
  margin-bottom: 20px;
}

.thank-you-container p {
  font-size: 1.2rem;
  color: #3e3131;
  margin-bottom: 30px;
}

.thank-you-container button {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
  background-color: #025ab0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.thank-you-container button:hover {
  background-color: #1565c0;
}
