.open-stylebar-button {
    position: fixed;
    top: 12%;
    right: 20px;
    z-index: 99;
}

.open-stylebar-button button {
    background-color: #2c2f39;
    color: #fff;
    width: 50px;
    height: 50px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mat-tooltip {
    z-index: 1000 !important;
}

.form-elements-stylebar {
    background-color: #2c2f39;
    color: #fff;
    padding: 10px;
    height: 100vh;
    position: fixed;
    top: 4rem;
    right: 0;
    width: 300px;
    transition: transform 0.3s ease;
    transform: translateX(100%);
    z-index: 100;
}

.form-elements-stylebar.open {
    transform: translateX(0%);
}


.header {
    position: sticky;
    top: 0;
    background-color: #2c2f39;
    z-index: 10;
}

.stylebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid #444;
}

@media screen and (max-width: 768px) {
    .open-stylebar-button {
        top: 90%;
        right: 20px;
    }
}

@media screen and (max-width: 600px) {
    .form-elements-stylebar {
        top: 3.5rem
    }
}