.form-builder-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 98.6%;
  height: 90%;
  overflow-y: auto;
  position: fixed;
  top: 7.9vh;
  background-color: #f5f5f5;
  margin-top: 0.75%;
  margin-left: 0.7%;
  border-radius: 8px;
}
.nav-bar,
app-formsnav {
  height: 7.9vh;
  width: 100%;
}

.sidebar {
  background-color: #f5f5f5;
  color: white;
}

.canvas {
  flex: 1;
  display: flex;
  justify-content: center;
  padding-top: 3%;
  align-items: flex-start;
  width: 100%;
  padding-bottom: 4%;
  background-color: #f5f5f5;
  text-align: center;
}

.canvas app-canvas {
  width: 60%;
  display: flex;
  justify-content: center;
  position: relative;
  top: 2.5rem;
}

.style-panel {
  background-color: #f5f5f5;
  color: white;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #c2dfff;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #a8a5a5;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #6b6b6b;
}

@media screen and (max-width: 768px) {
  .canvas app-canvas {
    width: 100%;
    height: auto;
    top: 3.1rem;
    padding: 10px;
  }
}
