<mat-toolbar color="primary" class="nav-bar">
  <div class="logo">
    <a routerLink="/" aria-label="Home">FormSphere</a>
  </div>
  <div class="nav">
    <ul>
      <li>
        <a mat-button routerLink="/templates" aria-label="Templates"
          >Templates</a
        >
      </li>
      <li *ngIf="isLogin">
        <a mat-button routerLink="/create-form" aria-label="Create Form"
          >Create Form</a
        >
      </li>
      <li *ngIf="isLogin">
        <a mat-button routerLink="/my-forms" aria-label="My Forms">My Forms</a>
      </li>
    </ul>
  </div>
  <div class="auth" [ngStyle]="isLogin ?{'height': '50px', 'width': '50px','padding-right': '4rem'} : {}">
    <button
      mat-stroked-button
      *ngIf="!isLogin"
      routerLink="/auth/login"
      aria-label="Login"
      class="login"
    >
      Login
    </button>
    <button
      mat-raised-button
      *ngIf="!isLogin"
      color="accent"
      routerLink="/auth/signup"
      aria-label="Get Started"
      class="signup"
    >
      Get Started
    </button>
    <!-- <button
      mat-stroked-button
      *ngIf="isLogin"
      (click)="logout()"
      aria-label="Logout"
      class="logout"
    >
      Logout
    </button> -->
    <!-- User Profile Menu -->
    <button mat-icon-button [matMenuTriggerFor]="userMenu" aria-label="User Profile"
      *ngIf="isLogin"
      [ngStyle]="{'color': '#033367','padding-right': '3rem', 'padding-bottom': '2.5rem', 'padding-left': '0'}">
      <mat-icon
      [ngStyle]="{'height': '50px', 'width': '50px', 'font-size': '2rem', 'padding': '0'}"
      >account_circle</mat-icon>
    </button>
  
    <mat-menu #userMenu="matMenu" class="user-profile-menu"
      [ngStyle]="{'background-color': '#c0daf7d9', 'color': '#033367'}">
      <div class="user-info">
        <p class="user-name">{{ userName }}</p>
        <p class="user-email">{{ userEmail }}</p>
      </div>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        Logout
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
