<mat-toolbar color="primary" class="nav-bar">
  <div class="logo">
    <a routerLink="/" aria-label="Home">FormSphere</a>
  </div>
  <div class="nav" *ngIf="isLogin">
    <ul>
      <li>
        <a mat-button routerLink="/create-form" aria-label="Create Form"
          >Create Form</a
        >
      </li>
      <li>
        <a mat-button routerLink="/my-forms" aria-label="MY Forms">My Forms</a>
      </li>
    </ul>
  </div>
  <!-- <button
    mat-stroked-button
    *ngIf="isLogin"
    aria-label="LogOut button"
    class="logout"
    (click)="logoutUser()"
  >
    Logout
  </button> -->
  <button
    mat-stroked-button
    *ngIf="!isLogin"
    aria-label="Login button"
    class="login"
    routerLink="/login"
  >
    Login
  </button>
   <!-- User Profile Menu -->
    <button mat-icon-button [matMenuTriggerFor]="userMenu" aria-label="User Profile"
      *ngIf="isLogin" class="user-profile-menu"
      [ngStyle]="{'color': '#033367','padding-right': '3rem', 'padding-bottom': '2.5rem', 'padding-left': '0'}">
      <mat-icon
      [ngStyle]="{'height': '50px', 'width': '50px', 'font-size': '2rem', 'padding': '0'}"
      >account_circle</mat-icon>
    </button>

    <mat-menu #userMenu="matMenu" class="user-profile-menu"
      [ngStyle]="{'background-color': '#c0daf7d9', 'color': '#033367'}">
      <div class="user-info">
        <p class="user-name">{{ userName }}</p>
        <p class="user-email">{{ userEmail }}</p>
      </div>
      <button mat-menu-item (click)="logoutUser()">
        <mat-icon>logout</mat-icon>
        Logout
      </button>
    </mat-menu>
</mat-toolbar>

<!-- Main Content -->
<div class="my-forms-container">
  <h1>Templates</h1>

  <!-- Display message if no forms are available -->
  <div *ngIf="templates?.length === 0" class="no-forms">
    <p>No Templates found.</p>
  </div>

  <!-- Display forms if available -->
  <div class="forms-list" *ngIf="templates?.length !== 0">
    <mat-card *ngFor="let form of templates" class="form-card"  [routerLink]="['/templates', form.id]">
      <mat-card-title matTooltip="Use Template">
        {{ form.title }}
      </mat-card-title>
    </mat-card>
  </div>
</div>
